.mainContent
    color: #002F24
    display: flex
    .imagem
        width: 680px
        height: 80vh
        border-radius: 30px
        margin-bottom: 30px
    .info
        margin-left: 30px
        .clima
            //border: 2px solid red
            padding: 0.2rem 2rem 2rem 2rem
            font-size: 20px
            width: 50vh
            margin-bottom: 16px

            border-radius: 30px
            box-shadow: 1px 5px 4px 0px rgba(0, 0, 0, 0.25)
            .climaHoje
                display: flex
                //justify-content: center
                //align-items: center
                //text-align: center
                .climaText
                    margin-right: 12px
                    p
                        text-align: left
                    .temperatura
                        font-size: 64px
                .icon
                    font-size: 128px
                    color: orange
        .solo
            padding: 0.2rem 2rem 2rem 2rem
            font-size: 20px
            width: 50vh
            margin-bottom: 16px

            border-radius: 30px
            box-shadow: 1px 5px 4px 0px rgba(0, 0, 0, 0.25)
            h1
                font-size: 32px
                margin-bottom: 24px
                text-align: center
            .info
                li
                    display: flex
                    justify-content: space-between
                    margin-bottom: 20px
        .historico
            .icon
                font-size: 64px
                color: #002F24
                cursor: pointer
.loading
    transition: none
    transform: none
    -ms-transform: none
    -webkit-transform: none
    animation: rotate 0.5s linear infinite
    @keyframes rotate
        0%
            transform: rotate(0deg)

        100%
            transform: rotate(-360deg)
