.section
    .form_header
        display: flex
        gap: 28px
        align-items: center
        margin-bottom: 28px
        img
            width: 72px
            height: 72px
        h1
            font-size: 32px
        button
            height: 36px
            padding: 7px 12px
            justify-content: center
            align-items: center
    .form
        display: flex
        flex-direction: column
        label
            display: flex
            flex-direction: column
            margin-bottom: 32px
            input
                height: 25px
                width: 380px