@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import '@radix-ui/themes/styles.css';

* {
  padding: 0;
  margin: 0;
  font-family: 'Poopins', sans-serif
}
:root {
  --bg-g: #003024;
  --text-b: #668faf;
  --text-g: #5b5a60;
  --text-l: #c1f0de;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: black;
}
.mapboxgl-canvas {
  position: relative !important;
  width: 100% !important;
  height: 18rem !important;
}
